<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParkingManagementSystem"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AdminGenerateReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdminManageUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name="com.stripe.android.paymentsheet.PaymentSheetActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Translucent"
            tools:replace="android:theme,android:exported">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.example.parkingmanagementsystem" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParkingAssignmentList"
            android:exported="false" />
        <activity
            android:name=".AssignParkingActivity"
            android:exported="false" />
        <activity
            android:name=".ParkingLotMapActivity"
            android:exported="false" />
        <activity
            android:name=".ParkingMapActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
    </application>

</manifest>